
#jeu{

height: 400px;
width : 800px;
border : 1px solid black;
overflow: hidden;
background-image: url(src/images/fond.jpeg);
}


#perso{

position: relative;
height: 100px;
width: 70px;

top: 300px;



}
.saut {
animation : jump 500ms  ;

}

.saut2 {
  animation : jump2 500ms  ;
  
  }


#camionImg{

  height: 70px;
  width: 70px;
  
  
}

#osImg{

  height: 30px;
  width: 30px;
  

}


#helicoImg{


  height: 50px;
  width: 50px;
  


}

#camion{

position: relative;
height: 70px;
width: 70px;
top: 230px;
left : 750px;
animation : block 1.5s infinite  linear;



}

#os{

  position: relative;
  height: 30px;
  width: 30px;
  top: -50px;
  left : 750px;
  animation : block 1.5s infinite  linear;
  
  

  
  }

  #helico{

    position: relative;
    height: 50px;
    width: 50px;
    top: -50px;
    left : 750px;
    animation : block 1.5s infinite  linear;
    
    
  
    
    }


#messageFin {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: none;
      flex-direction: column;
      border: #ffe81f solid 1px;
      padding: 1%;
  }








@keyframes block{


  0% {left : 750px;}
  100%{left: -20px;}
}

@keyframes jump{

0% {top : 300px;}

20%{top : 250px;}

20%{top : 150px;}

50%{top : 50px;}

70%{top : 150px;}

80%{top : 250px;}

100%{top: 300px;}

}


 @keyframes jump2{

  0% {top : 300px;}
    
  
  70%{top : 200px;}
  
  80%{top : 250px;}
  
  100%{top: 300px;}


} 

#canvas1{

    
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  
  
  
  }


